/* Estilos para a página de filtro */

/* Estilo para o título da página */
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: roboto-bold-condensed,sans-serif;
    font-weight: 400;
  }
  
  /* Estilo para o formulário de filtro */
  form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    font-family: roboto-bold-condensed,sans-serif;
    
  }
  
  /* Estilo para cada rótulo de entrada do formulário */
  label {
    font-size: 1.2rem;
    margin-right: 1rem;
    font-family: roboto-bold-condensed,sans-serif;
    font-weight: 400;
  }
  
  /* Estilo para cada entrada de texto do formulário */
  input[type="text"] {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 1rem;
    text-align: justify;
  }
  
  /* Estilo para o botão de filtro */
  button[type="button"] {
    background-color: #36a4d0;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.0rem;
    cursor: pointer;
    font-weight: 400;
  }
  
  /* Estilo para a tabela de resultados */
  table {
    /*border-collapse: collapse;*/
    width: 100%;
    margin-bottom: 1rem;
    font-weight: 400;
  }
  
  /* Estilo para o cabeçalho da tabela */
  thead {
    background-color: #36a4d0;
    color: white;
    font-weight: 400;
  }
  
  /* Estilo para as células do cabeçalho da tabela */
  th {
    padding: 0.5rem;
    text-align: justify;
    font-family: roboto-bold-condensed,sans-serif;
    font-weight: 400;
  }
  
  /* Estilo para as células do corpo da tabela */
  td {
    padding: 0.5rem;
    border: 1px solid #ddd;
  }
  
  /* Estilo para o dropdown de paginação */
  #paginationDiv {
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
  }
  
  #pagination {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    font-weight: 400;
  }
  

  /* Estilo para as opções selecionadas do dropdown de paginação */
  #pagination option:checked {
    background-color: #36a4d0;
    color: white;
    font-weight: 400;
  }

  /* Estilo para o ícone plus no botão "Añadir" */
.btn-primary i.fa-circle-plus:before {
  content: "\f055";
  margin-right: 5px;
}

/* Estilo para o botão "Añadir" com ícone */
.btn-primary {
  background-color: #36a4d0;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
   cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.btn-primary:hover {
  background-color: #36a4d0;
}

.btn-primary:active {
  background-color: #36a4d0;
}

button[type="button"] {
  background-color: #36a4d0;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.0rem;
  cursor: pointer;
  margin-right: 10px; /* adiciona margem à direita */
}

  .popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    
}
.popup h2 {
  text-align: center;
  font-weight: 400;
  }
  
.popup label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 400;
  }
  
.popup input[type="text"] {
  width: 80%;
  margin-bottom: 20px;
  }
 
.popup button[type="button"] {
  margin-top: 20px;
  float: right;
  }

.popup button[type="button"]:first-child {
    margin-right: 10px;
    float: left;
    }
.popup-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 99;
      }
#loading {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-weight: 400;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1000;
    }
    
#loading i {
        margin-right: 10px;
    }

    .top-bar {
      width: 100%;
      z-index: 5;
      box-sizing: border-box;
      background-color: #252525;
      height: 6vh;
      min-height: 46px;
      line-height: 6vh;
  }
  img
  {
  height: 8% !important;
  position: absolute; 
  top: 25px; 
  right: 25px;
  
  }  