{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="static/familia.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<h1>Familia</h1>
<a href="/" >
    <img src="/static/images/logo_sina-01.svg" alt="Logo" ">
  </a>

<form>
    <label for="IdFamilia">IdFamilia:</label>
    <input type="text" id="IdFamilia" name="IdFamilia">
    <label for="Descripcion">Descripcion:</label>
    <input type="text" id="Descripcion" name="Descripcion">
    <button type="button" onclick="filter()">Filtrar</button>

    <a href="#" onclick="showConfig()" class="btn btn-primary"><i class="fas fa-folder-plus"
            title="Añadir Familia"></i></a>

    <div id="loading" style="display:none">
        <i class="fas fa-spinner fa-spin"></i> Cargando...
    </div>

</form>
<!-- Popup de adição -->
<div id="configPopup" class="popup">
    <button id="closePopupBtn" onclick="hideConfig()">X</button>
    <h2>Añadir Familia</h2>
    <form>
        <label for="configIdFamilia">IdFamilia:</label>
        <input type="text" id="configIdFamilia" name="configIdFamilia" required>

        <label for="configDescripcion">Descripcion:</label>
        <input type="text" id="configDescripcion" name="configDescripcion" required>

        <label for="configidServicio">Servicio:</label>
        <input type="text" id="configidServicio" name="configidServicio">
        <i class="fas fa-search" onclick="showservicio()" style="cursor:pointer;"></i>

        <label for="configCodTipo">CodTipo:</label>
        <input type="text" id="configCodTipo" name="configCodTipo" required>
        <i class="fas fa-search" onclick="showcodtipo()" style="cursor:pointer;"></i>

        <div class="buttons-container">
        <button type="submit" onclick="GuardarConfig()">Guardar</button>
        <button type="button" onclick="hideConfig()">Cancelar</button>
        </div>
    </form>
</div>

<!-- Popup de edição -->
<div id="editPopup" class="popup">
    <button id="closePopupBtn" onclick="hideEdit()">X</button>
    <h2>Editar Familia</h2>
    <form>
        <input type="hidden" id="editIdFamilia" name="editIdFamilia">

        <label for="editDescripcion">Descripcion:</label>
        <input type="text" id="editDescripcion" name="editDescripcion" required>

        <label for="editServicio">Servicio:</label>
        <input type="text" id="editServicio" name="editServicio">
        <i class="fas fa-search" onclick="showservicio()" style="cursor:pointer;"></i>

        <label for="editCodTipo">CodTipo:</label>
        <input type="text" id="editCodTipo" name="editCodTipo" required>
        <i class="fas fa-search" onclick="showcodtipo()" style="cursor:pointer;"></i>

           <button type="button" onclick="updateRow()">Guardar</button>
        <button type="button" onclick="hideEdit()">Cancelar</button>
    </form>
</div>
<!-- Pop-up de Servicio -->
{% include "popup/servicioPopup.html" %}

<!-- Pop-up de codtipo -->
{% include "popup/codtipoPopup.html" %}




<div id="paginationDiv">
    <select id="pagination" title="Seleccionar página"></select>
</div id="paginationDiv">

<table id="resultsTable">
    <thead>
        <tr>

            <th>IdFamilia</th>
            <th>Descripcion</th>
            <th>Servicio</th>
            <th>CodTipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>

<script src="/static/scripts/familia.js"></script>
<script src="/static/scripts/popup/Servicio.js"></script>
<script src="/static/scripts/popup/codtipo.js"></script>


{% endblock %}